@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.navbar--option--list{
  list-style-type: none;
  color: #FFF;
  font-family: Source Code Pro;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 0.1875rem solid #FFF;
  /* margin: 0; */
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
}

body {
  margin: 0 auto;
  min-height: 100%;
  background: #160303;
}

